.employeeName {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 0.625rem;
}

.radioWrapper {
    display: block;
    padding-top: 0.625rem;
}

.radioLabel {
    display: flex;
    align-items: center;
    gap: 6px;
}

.radioSpan {
    font-size: 0.875rem;
    font-weight: 400;
}

.notActiveEmployee {
    color: #000;
}

.activeEmployee {
    color: #252bff;
}
